@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

.whiteWithStroke {
  color: #fff; /* Text color */
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; /* This creates the inside stroke effect */
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.whiteBorderShadow {
  border: 2px solid white;
  box-shadow: 3px 3px 0 0 #ffffff;
  transition-duration: 300ms;
}

.whiteBorderShadow:hover {
  border-color: orange;
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 orange;
}
